<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.patientengagement</package>
	<author>openmrs</author>
	<description>
		${project.parent.description}
	</description>

	<activator>org.openmrs.module.patientengagement.PatientEngagementActivator
	</activator>

	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->

	<require_version>1.11.6</require_version>
	<require_modules>
		<require_module version="1.0-SNAPSHOT">org.openmrs.module.appointments
		</require_module>
	</require_modules>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.patientengagement.extension.html.AdminList
		</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>


	<!-- AOP <advice> <point>org.openmrs.api.FormService</point> <class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class> 
		</advice> /AOP -->


	<!-- Required Privileges <privilege> <name>Form Entry</name> <description>Allows 
		user to access Form Entry pages/functions</description> </privilege> /Required 
		Privileges -->


	<globalProperty>
		<property>patientengagement.messagingConfig</property>
		<defaultValue>[{\"serviceUUID\":\"571a3908-d942-4d2f-b59d-c473db921b6e\",\"daysBefore\":2,\"messageText\":\"You
			have a Surgery appointment\"},
			{\"serviceUUID\":\"9a1eb682-2241-4dc0-ab76-e1f7be2c65ec\",\"daysBefore\":1,\"messageText\":\"You
			have a Cast appointment\"}]</defaultValue>
		<description>
			A JSON configuration showing the number of days before
			sending
			an SMS reminder for each appointment service and the actual
			message
			text to send.
		</description>
	</globalProperty>

	<globalProperty>
		<property>patientengagement.postURL</property>
		<defaultValue></defaultValue>
		<description>RapidPro URL to post to</description>
	</globalProperty>

	<globalProperty>
		<property>patientengagement.Authorization</property>
		<defaultValue></defaultValue>
		<description>RapidPro API Token</description>
	</globalProperty>

	<!-- <dwr> <allow> <create creator="new" javascript="DWRFormEntryService"> 
		<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/> 
		<include method="enterForm"/> </create> </allow> <signatures> <![CDATA[ import 
		@MODULE_PACKAGE@.web.DWRFormEntryService; DWRFormEntryService.enterForm(Integer 
		patientId, Integer formId, boolean useEncounter, List<String> fields); ]]> 
		</signatures> </dwr> -->

	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
		<servlet> <servlet-name>formDownload</servlet-name> <servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class> 
		</servlet> -->
	<!-- /Servlets -->


	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

